<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <log4net>
          <logger name="XC.Foundation.DataImport.Diagnostics.DataImportLogger" additivity="false">
              <level value="INFO" />
              <appender-ref ref="xcDataImportLogFileAppender" />
          </logger>
          <appender name="xcDataImportLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
              <file value="$(dataFolder)/logs/xc.DataImport.log.{date}.txt" />
              <appendToFile value="true" />
              <layout type="log4net.Layout.PatternLayout">
                  <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
              </layout>
              <encoding value="utf-8" />
          </appender>
      </log4net>
      <api>
          <services>
              <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
                  <allowedControllers hint="list:AddController">
                      <allowedController desc="XC_DataImportController">XC.Foundation.DataImport.Controllers.DataImportController, XC.Foundation.DataImport</allowedController>
                      <allowedController desc="XC_TestController">XC.Foundation.DataImport.Controllers.TestController, XC.Foundation.DataImport</allowedController>
                  </allowedControllers>
              </configuration>
          </services>
      </api>
      <settings>
          <setting name="XC.Foundation.DataImport.DataFolder" value="$(dataFolder)/XC.DataImport/DataFolder"/>
      </settings>
      <pipelines>
          <xc.dataimport.postprocessing>
              <processor type="XC.Foundation.DataImport.Pipelines.PostProcessing.RunPostProcessingScripts, XC.Foundation.DataImport"/>
          </xc.dataimport.postprocessing>
          <xc.dataimport.fieldprocessing>
              <processor type="XC.Foundation.DataImport.Pipelines.FieldProcessing.RunFieldProcessingScripts, XC.Foundation.DataImport"/>
          </xc.dataimport.fieldprocessing>
      </pipelines>
  </sitecore>
</configuration>