<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <log4net>
          <logger name="XC.Foundation.DataImport.Diagnostics.DataImportLogger" additivity="false">
              <level value="INFO" />
              <appender-ref ref="xcDataImportLogFileAppender" />
          </logger>
          <appender name="xcDataImportLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
              <file value="$(dataFolder)/logs/xc.DataImport.log.{date}.txt" />
              <appendToFile value="true" />
              <layout type="log4net.Layout.PatternLayout">
                  <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
              </layout>
              <encoding value="utf-8" />
          </appender>
      </log4net>
      <api>
          <services>
              <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
                  <allowedControllers hint="list:AddController">
                      <allowedController desc="XC_DataImportController">XC.Foundation.DataImport.Controllers.ImportConfigurationController, XC.Foundation.DataImport</allowedController>
                      <allowedController desc="XC_TestController">XC.Foundation.DataImport.Controllers.ImportController, XC.Foundation.DataImport</allowedController>
                  </allowedControllers>
              </configuration>
          </services>
      </api>
      <settings>
          <setting name="XC.Foundation.DataImport.DataFolder" value="$(sourceXCDataImportFolder)/XC.DataImport/DataFolder"/>
      </settings>
      <pipelines>
          <xc.dataimport.postprocessing>
              <processor type="XC.Foundation.DataImport.Pipelines.PostProcessing.RunPostProcessingScripts, XC.Foundation.DataImport"/>
          </xc.dataimport.postprocessing>
          <xc.dataimport.fieldprocessing>
              <processor type="XC.Foundation.DataImport.Pipelines.FieldProcessing.RunFieldProcessingScripts, XC.Foundation.DataImport"/>
          </xc.dataimport.fieldprocessing>
          <xc.dataimport.sourceprocessing>
              <processor type="XC.Foundation.DataImport.Pipelines.PostProcessing.RunSourceProcessingScripts, XC.Foundation.DataImport"/>
          </xc.dataimport.sourceprocessing>
      </pipelines>
      <xc.dataimport>          
          <sourceProviders>
              <sourceProvider name="FileDataSource" dataSourceType="XC.Foundation.DataImport.Repositories.DataSources.FileDataSource,XC.Foundation.DataImport" modelType="XC.Foundation.DataImport.Models.DataSources.FileDataSourceModel,XC.Foundation.DataImport">
                  <field name="FilePath" type="text" />                  
              </sourceProvider>
              <sourceProvider name="SitecoreDataSource" dataSourceType="XC.Foundation.DataImport.Repositories.DataSources.SitecoreDataSource,XC.Foundation.DataImport" modelType="XC.Foundation.DataImport.Models.DataSources.SitecoreDataSourceModel,XC.Foundation.DataImport">
                  <field name="DatabaseName" type="select" optionsSource="/sitecore/api/ssc/dataimport/mappings/-/getdatabases" triggerFields="TemplateId,Path" />
                  <field name="TemplateId" type="select" optionsSource="/sitecore/api/ssc/dataimport/mappings/[DatabaseName]/gettemplates" />
                  <field name="IncludeDescendants" type="checkbox"/>
                  <field name="MigrateAllFields" type="checkbox" />
                  <field name="ItemPath" type="tree" optionsSource="/sitecore/api/ssc/dataimport/mappings/[DatabaseName]/getsitecoretree"/>
              </sourceProvider>
              <sourceProvider name="SitecoreQueryDataSource" dataSourceType="XC.Foundation.DataImport.Repositories.DataSources.SitecoreQueryDataSource,XC.Foundation.DataImport" modelType="XC.Foundation.DataImport.Models.DataSources.SitecoreQueryDataSourceModel,XC.Foundation.DataImport">
                  <field name="DatabaseName" type="select" optionsSource="/sitecore/api/ssc/dataimport/mappings/-/getdatabases" />
                  <field name="Query" type="textarea" />
                  <field name="IncludeDescendants" type="checkbox"/>
                  <field name="MigrateAllFields" type="checkbox" />
              </sourceProvider>
              <sourceProvider name="SqlDataSource" dataSourceType="XC.Foundation.DataImport.Repositories.DataSources.SqlDataSource,XC.Foundation.DataImport" modelType="XC.Foundation.DataImport.Models.DataSources.SqlDataSourceModel,XC.Foundation.DataImport">
                  <field name="ConnectionString" type="textarea"  optionsSource="/sitecore/api/ssc/dataimport/mappings/-/GetConnectionStrings"/>
                  <field name="SqlStatement" type="textarea" />
              </sourceProvider>
              <sourceProvider name="WebDataSource" dataSourceType="XC.Foundation.DataImport.Repositories.DataSources.WebDataSource,XC.Foundation.DataImport" modelType="XC.Foundation.DataImport.Models.DataSources.WebDataSourceModel,XC.Foundation.DataImport">
                  <field name="Url" type="text" />
                  <field name="Method" type="select"  optionsSource="/sitecore/api/ssc/dataimport/mappings/-/getmethods"/>
                  <field name="ApiKey" type="text" />
                  <field name="Username" type="text" />
                  <field name="Password" type="text" />
              </sourceProvider>
          </sourceProviders>
          <targetProviders>
              <targetProvider name="SitecoreRepository" dataSourceType="XC.Foundation.DataImport.Repositories.Repositories.SitecoreRepository,XC.Foundation.DataImport" modelType="XC.Foundation.DataImport.Models.DataSources.TargetSitecoreDataSourceModel,XC.Foundation.DataImport">
                  <field name="DatabaseName" type="select" optionsSource="/sitecore/api/ssc/dataimport/mappings/-/getdatabases" triggerFields="TemplateId,Path" />                  
                  <field name="TemplateId" type="select" optionsSource="/sitecore/api/ssc/dataimport/mappings/[DatabaseName]/gettemplates" />
                  <field name="OverwriteFieldValues" type="checkbox" />
                  <field name="ItemPath" type="tree" optionsSource="/sitecore/api/ssc/dataimport/mappings/[DatabaseName]/getsitecoretree" />                  
              </targetProvider>
              <targetProvider name="SitecoreFormsRepository" dataSourceType="XC.Foundation.DataImport.Repositories.Repositories.SitecoreFormsRepository,XC.Foundation.DataImport" modelType="XC.Foundation.DataImport.Models.DataSources.TargetSitecoreDataSourceModel,XC.Foundation.DataImport">
                  <field name="DatabaseName" type="select" optionsSource="/sitecore/api/ssc/dataimport/mappings/-/getdatabases" triggerFields="TemplateId,Path" />
                  <field name="TemplateId" type="select" optionsSource="/sitecore/api/ssc/dataimport/mappings/[DatabaseName]/gettemplates" />
                  <field name="OverwriteFieldValues" type="checkbox" />
                  <field name="ItemPath" type="tree" optionsSource="/sitecore/api/ssc/dataimport/mappings/[DatabaseName]/getsitecoretree" />
              </targetProvider>
          </targetProviders>
      </xc.dataimport>
  </sitecore>
</configuration>