<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="XC.Project.DataImport" description="Project Specific DataImport" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(xc.dataimport.sourceFolder)\project\dataimport\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Templates -->
            <include name="Car.Org.Website.Templates" database="master" path="/sitecore/templates/Project/Data Import" />
            
            <!-- Content -->
            <include name="XC.Project.DataImport.Content" database="master" path="/sitecore/content/Data Import/CAR">
              <exclude children="true">
                <except name="Articles" />
                <except name="Carousel Lollipop" />
                <except name="Content Folders" />
                <except name="Content References" />
                <except name="Events" />
                <except name="Feature Carousel" />
                <except name="Infographics" />
                <except name="Link Roster" />
                <except name="Magazines" />
                <except name="Keywords" />
                <except name="Sections" />
                <except name="Video Wall" />
              </exclude>
              <exclude childrenOfPath="Articles" />
              <exclude childrenOfPath="Carousel Lollipop" />
              <exclude childrenOfPath="Content Folders" />
              <exclude childrenOfPath="Content References" />
              <exclude childrenOfPath="Events" />
              <exclude childrenOfPath="Feature Carousel" />
              <exclude childrenOfPath="Infographics" />
              <exclude childrenOfPath="Link Roster" />
              <exclude childrenOfPath="Magazines" />
              <exclude childrenOfPath="Sections" />
              <exclude childrenOfPath="Video Wall" />
            </include>
            <include name="XC.Project.DataImport.Media.Documents" database="master" path="/sitecore/media library/Data Import/Documents">
              <exclude children="true">
                <except name="Excel" />
                <except name="PDF" />
                <except name="Powerpoint" />
                <except name="Text" />
                <except name="Word" />
              </exclude>
              <exclude childrenOfPath="/Excel" />
              <exclude childrenOfPath="/PDF" />
              <exclude childrenOfPath="/Text" />
              <exclude childrenOfPath="/Word" />
            </include>
            <include name="XC.Project.DataImport.Media.Flash" database="master" path="/sitecore/media library/Data Import/Flash">
              <exclude children="true" />
            </include>
            <include name="XC.Project.DataImport.Media.Images" database="master" path="/sitecore/media library/Data Import/Images">
              <exclude children="true">
                <except name="Banner Images" />
                <except name="Feature Images" />
                <except name="GIFs" />
                <except name="ICOs" />
                <except name="Infographic Images" />
                <except name="JPEGs" />
                <except name="PNGs" />
                <except name="Thumbnail Images" />
              </exclude>
              <exclude childrenOfPath="/Banner Images" />
              <exclude childrenOfPath="/Feature Images" />
              <exclude childrenOfPath="/GIFs" />
              <exclude childrenOfPath="/ICOs" />
              <exclude childrenOfPath="/Infographic Images" />
              <exclude childrenOfPath="/JPEGs" />
              <exclude childrenOfPath="/PNGs" />
              <exclude childrenOfPath="/Thumbnail Images" />
            </include>
            <include name="XC.Project.DataImport.Media.MediaFolders" database="master" path="/sitecore/media library/Data Import/Media Folders">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>