<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="Aha.DataImport.MediaLibraryFolder" value="/sitecore/media library/Data Import" />
        </settings>
        <xc.dataimport>
            <sourceProviders>
                <sourceProvider name="JotFormsDataSource" modelType="Aha.Project.DataImport.DataSources.JotFormsDataSourceModel, Aha.Project.DataImport" dataSourceType="Aha.Project.DataImport.DataSources.JotFormsDataSource, Aha.Project.DataImport">
                    <field name="ApiKey" type="text" />
                    <field name="FormIds" type="textarea" />
                </sourceProvider>
            </sourceProviders>
        </xc.dataimport>
        <settings>
            <setting name="XC.DataImport.StatesDatasource" value="" />
        </settings>
    </sitecore>
</configuration>
